body {
    margin: 0;
    padding: 0;
}
#popup-form {
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#table {
    width: 100%
}
tr {
    display: flex;
    justify-content: space-around;
}